<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h1>Usuários</h1>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table cursor-table">
              <thead class=" text-primary">
                <th>
                  Nome
                </th>
                <th>
                  Telefone
                </th>
                <th>
                  CPF
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let user of userList" (click)="openUser(user.id)">
                  <td class="space cursor">
                    {{ user.name }}
                  </td>
                  <td class="space cursor">
                    {{ user.cpf }}
                  </td>
                  <td class="space cursor">
                    {{ user.cellphone }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
