<div class="main-content">
  <div class="row text-center d-flex justify-content-center">
    <div class="col-8 m-2">
      <div class="">
        <h2>This is a Pre-qualification test</h2>
        <img src="../../assets/icons/paper.svg" class="img-spining m-5" alt="logo" />
        <p>
          Hello World! My name is <code>Rennan Ribas</code>.
        </p>
        <a
          className="App-link"
          href="https://github.com/rennanrr"
        >
          My GitHub Repo
        </a>
      </div>
    </div>
  </div>
</div>